name: Check formatting

on:
  workflow_call:

jobs:
  ktlint:
    name: Run ktlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: ${{ github.event_name == 'workflow_dispatch' }}

      - name: Run ktlint check
        run: ./gradlew ktlintCheck
