name: WASM Build

on:
  workflow_dispatch:
  workflow_call:

jobs:
  wasm-build:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build WASM
        id: build
        run: ./gradlew :composeApp:wasmJsBrowserDevelopmentWebpack

      - name: Upload WASM artifacts
        uses: actions/upload-artifact@v6
        if: ${{ steps.build.outcome == 'success' }}
        with:
          name: wasm-build
          path: composeApp/build/dist/wasmJs/
          retention-days: 1
